@import url(../../../resetcss/nreset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  padding: 0.5em;
  margin: 0.5em;
}
#page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#nav-bar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-left,
#nav-right {
  display: flex;
  padding: 0 1.25em;
}
#google-logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 12.7em;
  margin-bottom: 1.5em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-bar-container {
  display: flex;
  align-items: center;
  max-width: 25em;
}
#search-bar-container a {
  margin: 0;
  padding: 0;
}
#search-bar {
  width: 20em;
}
#search-button,
#search-random-button {
  border: none;
  padding: 0.8em;
  margin: 0.5em;
  font-size: 0.9rem;
  background-color: #f8f9fa;
}
#mic-container {
  display: inline-block;
}
#mic-logo {
  width: 1.8em;
  height: auto;
}
#bottom-space {
  flex: 1;
}
#nav-bar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #70757a;
  background-color: #f2f2f2;
  padding: 0 1.25em;
}
#nav-bar-bottom a {
  color: #70757a;
}
#footer-text {
  font-weight: lighter;
}
#leaf-logo {
  height: auto;
  width: 0.85em;
  margin: 0 0.5em;
}
#footer-left {
  display: flex;
  min-width: 30%;
  justify-content: flex-start;
}
#footer-right {
  display: flex;
  min-width: 30%;
  justify-content: flex-end;
}
